@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/Home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cairo', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    overflow: hidden;
}

.home,
.work,
.about,
.contact {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slide-fade-enter-active {
    transition: all 1s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(10px);
    opacity: 0;
}