@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';


body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/Home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cairo', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    overflow: hidden;
    transition: all .3s
}

.home,
.work,
.about,
.contact,
.skills {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.slide-fade-enter-active {
    transition: all 1s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(10px);
    opacity: 0;
}

.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
    .modal-dialog {
        width: 30rem;
        .modal-header {
            display: flex;
            align-items: center;
            h5 {
                margin-bottom: 0;
            }
            .btn-outline-danger {
                border: 0 !important;
                background: none !important;
                img {
                    width: 1rem;
                }
                &:hover {
                    background: none !important;
                    border: 0 !important
                }
            }
        }
        ul {
            li {
                margin-bottom: 1rem;
                a {
                    display: flex;
                    align-items: center;
                    color: #000;
                    text-decoration: none;
                    img {
                        width: 2rem;
                        margin-right: 1rem
                    }
                }
            }
        }
        footer {
            display: none
        }
    }
}


